#LTSpice Temporary Files
*.log
*.raw

*autosave*.tsc

#PSpice Files
## Simulation Datafile
*.dat
## Design Lockfile
*.DSNlck
## Schematic Preview Image
*.png
## Design Backup File
*.DBK
##Metadata DB file
*.db